<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h1 class="text-center"><a href="/"><strong>Awwards</strong></a></h1>
    </div>

    <ul class="list-unstyled components">

        <div class="text-center"> <img class="rounded-circle account-img" width="70px" height="70px"
                src="{{user.profile.profile_pic.url}}"><br>
            <small>Logged in as {{user.username}}</small>
        </div>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
            {% if user.is_authenticated %}
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{%url 'profile' %}">Profile</a>
                </li>
                <li>
                    <a href="{%url 'logout'%}">Logout</a>
                </li>
            </ul>
        </li>
        {% else %}
        <li>
            <a class='btn btn-default' href="{%url 'login'%}">Login</a>
        </li>
        <li>
            <a class='btn btn-default' href="{%url 'register'%}">Register</a>
        </li>

        {% endif %}
        <li>
            <a href="#">About</a>
        </li>

        <li>
            <a href="#">Portfolio</a>
        </li>
        <!-- Adding a search form  -->


        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search project" name="projects">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit">search</button>
                </div>
            </div>

        </form>

        <!-- search form end -->
    </ul>
</nav>